<a href="https://colab.research.google.com/github/prisunic/Todo-List/blob/main/Mercari_train_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#import file tsv
from google.colab import files
uploaded = files.upload()

Saving train.tsv to train.tsv

In [6]:
import io
import pandas as pd
data = pd.read_csv(io.BytesIO(uploaded['train.tsv']), sep='\t')
print(data.head)

<bound method NDFrame.head of          train_id  ...                                   item_description
0               0  ...                                 No description yet
1               1  ...  This keyboard is in great condition and works ...
2               2  ...  Adorable top with a hint of lace and a key hol...
3               3  ...  New with tags. Leather horses. Retail for [rm]...
4               4  ...          Complete with certificate of authenticity
...           ...  ...                                                ...
1482530   1482530  ...  Lace, says size small but fits medium perfectl...
1482531   1482531  ...   Little mermaid handmade dress never worn size 2t
1482532   1482532  ...          Used once or twice, still in great shape.
1482533   1482533  ...  There is 2 of each one that you see! So 2 red ...
1482534   1482534  ...  New with tag, red with sparkle. Firm price, no...

[1482535 rows x 8 columns]>

In [8]:
len(data) 
# 693359

1482535

In [9]:
data.shape

(1482535, 8)

In [10]:
data.head()

   train_id  ...                                   item_description
0         0  ...                                 No description yet
1         1  ...  This keyboard is in great condition and works ...
2         2  ...  Adorable top with a hint of lace and a key hol...
3         3  ...  New with tags. Leather horses. Retail for [rm]...
4         4  ...          Complete with certificate of authenticity

[5 rows x 8 columns]

In [11]:
pd.set_option("display.precision", 2)

In [12]:
data.tail()

         train_id  ...                                   item_description
1482530   1482530  ...  Lace, says size small but fits medium perfectl...
1482531   1482531  ...   Little mermaid handmade dress never worn size 2t
1482532   1482532  ...          Used once or twice, still in great shape.
1482533   1482533  ...  There is 2 of each one that you see! So 2 red ...
1482534   1482534  ...  New with tag, red with sparkle. Firm price, no...

[5 rows x 8 columns]

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1482535 entries, 0 to 1482534
Data columns (total 8 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   train_id           1482535 non-null  int64
 1   name               1482535 non-null  object
 2   item_condition_id  1482535 non-null  int64
 3   category_name      1476208 non-null  object
 4   brand_name         849853 non-null   object
 5   price              1482535 non-null  float64
 6   shipping           1482535 non-null  int64
 7   item_description   1482531 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 90.5+ MB

## Displaying Statistics

In [14]:
data.describe()

       train_id  item_condition_id     price  shipping
count  1.48e+06           1.48e+06  1.48e+06  1.48e+06
mean   7.41e+05           1.91e+00  2.67e+01  4.47e-01
std    4.28e+05           9.03e-01  3.86e+01  4.97e-01
min    0.00e+00           1.00e+00  0.00e+00  0.00e+00
25%    3.71e+05           1.00e+00  1.00e+01  0.00e+00
50%    7.41e+05           2.00e+00  1.70e+01  0.00e+00
75%    1.11e+06           3.00e+00  2.90e+01  1.00e+00
max    1.48e+06           5.00e+00  2.01e+03  1.00e+00

In [16]:
import numpy as np
data.describe(include=np.object)

           name  ...    item_description
count   1482535  ...             1482531
unique  1225273  ...             1281426
top      Bundle  ...  No description yet
freq       2232  ...               82489

[4 rows x 4 columns]

## Exploring Dataset

In [18]:
data["item_condition_id"].value_counts()

1    640549
3    432161
2    375479
4     31962
5      2384
Name: item_condition_id, dtype: int64

In [19]:
# name of the product
data["name"].value_counts()

Bundle                             2232
Reserved                            453
Converse                            445
BUNDLE                              418
Dress                               410
                                   ...
YMI Jean vest                         1
Like new Frozen leggings size 5       1
Hold for Elle                         1
Carli Bybel                           1
LPS G4 BUNDLE                         1
Name: name, Length: 1225273, dtype: int64

In [20]:
# frequency brand name's occurence
data["brand_name"].value_counts()

PINK                 54088
Nike                 54043
Victoria's Secret    48036
LuLaRoe              31024
Apple                17322
                     ...
Dainese                  1
Shane Company            1
Emachines                1
PlaSmart                 1
Emanuel Ungaro           1
Name: brand_name, Length: 4809, dtype: int64

In [21]:
data.loc[data["brand_name"] == "Nike", "name"].min()

'!!ON HOLD!! Nike Free Run3 5.5Y'

In [22]:
data.loc[data["brand_name"] == "Nike", "name"].max()

'，Carolina Panthers #88 Greg Olsen jersey'

In [23]:
data.loc[data["brand_name"] == "Nike", "name"].agg(("min", "max"))

min             !!ON HOLD!! Nike Free Run3 5.5Y
max    ，Carolina Panthers #88 Greg Olsen jersey
Name: name, dtype: object

In [24]:
data.loc[data["brand_name"] == "Victoria's Secret", "name"].agg(("min", "max"))

min    ! Victoria's Secret red lace thong panty
max      ️vs designer bra NWT vsdesignerandmore
Name: name, dtype: object

In [26]:
data.loc[data["brand_name"] == "LuLaRoe", "name"].agg(("min", "max"))

min    !!!!!FOR STEPHANIE. LLR. Sarah. Small.
max                ⭐️NEW LULAROE TC LEGGING⭐️
Name: name, dtype: object